body{
    font-family: Cochin !important;
    font-size: 18px !important;
}

.bg-roxo{
    background-color: rgb(140, 0, 255) !important;
}

.text-roxo{
    color: rgb(140, 0, 255) !important;
}

.margem{
    margin: auto !important;
}

.paragrafo{
    width: 400px !important;
    max-width: 100% !important;
}

.logos{
    width: 170px !important;
}

.logo img{
    width: 40px;
}

.formulario{
    max-width: 100% !important;
    width: 890px !important;
}